
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', 'sans-serif';
}

/*navabr*/

.menu-bar {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
}

.nav-link {
    font-size: 16px;
    margin: 3px;
    color: #fff!important;
    font-weight: 500;
}

.navbar-nav {
    text-align: right;
    margin-right: 10px;
}

.menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}

.navbar .fa {
  color: #fff!important; 
  font-size: 26px;
}

.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid #fff;
}

.navbar-brand {
    font-weight: 900;
    color: #fff!important; 
    margin-top: 5px;
    margin-left: 20px;
}

@media only screen and (max-width: 1000px) {
    .nav-link:hover {
        border-bottom: none!important;
    }
}

/*landing page*/

.alert-container {}

.callout-container {
    height: 100vh;

    background: url('/media/images/restaurant.jpeg') no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.landing {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    color: rgb(49, 49, 49);
    background-color: rgba(178, 225, 247, 0.6);
    box-shadow: 0 0 25px 0 #d6e0f5; 
}

/*Reservations Form*/

form.div, form, input, select, textarea, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}

h1 {
    position: absolute;
    margin: 0;
    line-height: 42px;
    font-size: 42px;
    color: #fff;
    z-index: 2;
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}

form {
    width: 50%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 25px 0 #d6e0f5; 
}

.banner {
    position: relative;
    height: 300px;
    background-image: url("/media/images/reserve.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3); 
    position: absolute;
    width: 100%;
    height: 100%;
}

input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input {
    width: calc(100% - 10px);
    padding: 5px;
}

input[type="date"] {
    padding: 4px 5px;
}

select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
}

textarea {
    width: calc(100% - 12px);
    padding: 5px;
}

.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #d6e0f5;
    color: #525763;
}

.item {
    position: relative;
    margin: 10px 0;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
}

.item i {
    right: 2%;
    top: 28px;
    z-index: 1;
}

[type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #0087cc;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #6eb8dd;
}

@media (max-width: 580px) {
    form {
        width: 100%;
    }
    .landing {
        width: 100%;
    }
}

button:hover {
    border: 2px solid black;
}

/*Footer*/

footer {
    margin-top: auto;
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
}
  
footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}
  
footer a:hover {
    color: #FA944B;
    text-decoration: none;
}
  
.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}
  
.footer-middle {
    padding-top: 2em;
    color: white;
}
  
  
  
/* footer social icons */
  
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}
  
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
  
  
/* footer social icons */
  
.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}
  
.social-network a.icoInstagram:hover {
    background-color: #007bb7;
}
  
.social-network a.icoFacebook:hover i,
.social-network a.icoInstagram:hover i {
    color: #fff;
}
  
.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}
  
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}
  
.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
  
.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
  
.social-network a {
    background-color: #F9F9F9;
}


/*Menu Page*/

.menupage{
    position: relative;
    height: 900px;
    background-image: url('/media/images/reserve.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding-top: 50px;
}


.menupage::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);
}

.menu h2 {
    position: relative;
    color: #ffffff;  
    font-size: 3rem;
    line-height: 1;
    text-align: center;
  }

  .menu li {
    position: relative;
    color: #ffffff;  
    font-size: 2rem;
    line-height: 1;
    text-align: center;
  }

@media (max-width: 850px) {
    .menupage {
        height: 750px;
    }

    .menu h2 {
        font-size: 3rem;
        line-height: 1;
      }
    
      .menu li { 
        font-size: 1.2rem;
        line-height: 1.2;
      }
}

@media (max-width: 480px) {
    .menupage {
        height: 600px;
    }

    .menu h2 {
        font-size: 2rem;
      }
    
      .menu li { 
        font-size: 1rem;
        line-height: 1;
      }
}

/*my Booking Page*/

.bookings {
    font-size: 40px;
    padding: 40px;
}

.bookings td{
    padding: 10px;
}

.bookings th{
    padding-bottom: 10px;
}

.bookings div{
    padding-top: 30px;
}

