{% extends "base.html" %}

{% block content %}
{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<h5>My Booking</h5>
<a href="{% url 'create' %}">Add Booking</a>


<table>
    <tr>
        <th>Bookings</th>
        <th></th>
        <th></th>
    </tr>
    {% for reservations in bookings %}
    <tr>
        <td>{{reservations.title}}</td>
        <td><a href="{% url 'bookings' reservations.id %}">View</a></td>
        <td><a href="{% url 'update' reservations.id %}">Edit</a></td>
        <td><a href="{% url 'delete' reservations.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>No Reservations Made</h3>
    {% endfor %}
</table>
{% endif %}


{% endblock content %}