{% extends "base.html" %}

{% block content %}
<div class = "menupage">
<div class = "menu">
    <h2>Snacks</h2>
    <ul class="menu-items">
      <li>Tempura long-stem broccoli, burnt lemon, chilli €5</li>
      <li>Carlingford oysters, creme fraiche, lovage, rhubarb €3</li>
      <li>Fermented potato bread, cultured butter €4</li>
    </ul>
</div>
<div class = "menu">
    <h2>Starters</h2>
    <ul class="menu-items">
      <li>Roasted onion tortellini, braised shiitake, tarragon</li>
      <li>Charred octopus, tomato, garlic, coco beans</li>
      <li>Violet artichoke salad, elderflower, bitter leaves</li>
    </ul>
</div>
<div class = "menu">
    <h2>Mains</h2>
    <ul class="menu-items">
      <li>Cod, roasted baby gem, peas, mussels, bone sauce</li>
      <li>Thornhill duck breast, crispy leg, fennel, plum</li>
      <li>Bbq organic pointed cabbage, black garlic, lovage, potato crisp</li>
      <li>Salters free range pork jowl, turnips, broad beans, mustard</li>
    </ul>
</div>
<div class = "menu">
    <h2>Desserts</h2>
    <ul class="menu-items">
      <li>Choux, roasted plum, rose hip, sheep's yoghurt</li>
      <li>Baked cream, fennel, wild blackberry</li>
      <li>Boyne valley blue, crackers, preserved gooseberry</li>
    </ul>
</div>
<div class = "menu">
    <ul class="menu-items">
      <li>2 courses €38</li>
      <li>3 courses €48</li>
      <li>Extras €14/€24/€10</li>
    </ul>
</div>
</div>

{% endblock content %}
